<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <title>A Safer Home</title>
        <link href='static/main.css' rel='stylesheet' />
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a id="top-title" href="/">A Safer Home |</a>
            <a href="/">Home</a>
            <a href="/neighborhoods">Search by Neighborhood</a>
            <a href="/byhouse">Search by Address</a>
            <a href="/about">About</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
