{% extends "base.html" %}
{% block content %}
    <div id='controls'>
      <form class='select' method="POST" action="{{ url_for('byHouse') }}">
        <p class='label'>Street Address</p>
        <input type="text" name="street-address" placeholder='Ex. 315 Howe St.' value='{{street}}'>
        <p class='label'>City, State, Zipcode</p>
        <input type="text" name="city-state-zip" placeholder='Ex. Seattle WA, 98109' value='{{csz}}'></br>
        </br>
        <input type="submit" value="Go!">
      </form>
    </div>
    <div id='map'>
      <iframe src="static/houseplot.html?{{timestamp}}"></iframe>
    </div>
{% endblock %}
