{% extends "base.html" %}
{% block content %}
    <div id='controls'>
      <form class='select' method="POST" action="{{ url_for('neighborhoods') }}">
        <div class = "form-group">
          <div class = "input-group">
            <p class='label'>Select your neighborhood:</p>
            <select name="neighborhoods">
              {% for area in neighborhoods.keys() %}
                {% if area == selected %}
                <option value='{{area}}' selected>{{area}}</option>
                {% else %}
                <option value='{{area}}'>{{area}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          </br>
          <input type="submit" value="Go!">
        </div>
    </form>
    </div>
    <div id='map'>
      <iframe src="static/neighborhoodplot.html?{{timestamp}}"></iframe>
    </div>
{% endblock %}
